*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common css */
.btn-primary{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    border-radius: 5px;
}

section{
    margin-top: 150px;
    max-width: 1140px;
}

/* banner style */
header{
    height: 100vh;
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    max-width: 1140px;
    align-items: center;
    height: 100vh;
    text-align: right;
  }

.text {
    width: 40%;
    margin-left: 400px;
    color: #fff;
    }

.top-banner-title{
    font-size: 65px;
    font-weight: 700;
}
.top-banner-description{
    margin: 36px 0;
}

.previous-year{
    display: flex;
    align-items: center;
}
.previous-year-text{
    margin-left: 87px;
    
}
.text-header{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.text-description{
    color: #444343;
    margin: 24px 0 16px;
}

ul.list li{
    list-style: none;
}
ul.list li i {
    color: #16D887;
    margin-right: 8px;
}

/* My Plans Section */

.my-plans-item {
    display: flex;
    text-align: center;
    gap: 12.4%;
    margin-top: 60px;
}

.my-plans h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.item h3 {
    font-size: 26px;
    margin-top: 14px;
}

.item h4 {
    font-size: 20px;
    font-weight: 500;
    color: #737272;
    margin-top: 8px;
}

/*  CTA Section */

.bottom-banner {
    background-image: linear-gradient(to left, rgb(245 246 252 / 0%), #005facfa), url(/images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px;
    border-radius: 8px;
}

section.bottom-banner h2 {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}

/* Footer */

footer {
    background-color: #151414;
    padding: 8% 12%;
    display: flex;
    margin-top: 130px;
}

.footer-left h2 {
    color: #ffffff;
    margin-bottom: 12px;
}

.footer-left p {
    color: #ffffff;
    margin-right: 130px;
}

.contact-info {
    margin: 20px 0;
}

.social img {
    width: 36px;
    margin-right: 8px;
}

.newslatter h3 {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 24px;
}

input[type="email"] {
    background: transparent;
    padding: 18px 100px 18px 18px;
    border: 1px solid #ffffff;
    border-radius: 6px;
}

input.cta-btn {
    background: #005FAC;
    color: #ffffff;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    border-radius: 5px;
}