*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common css */
.btn-primary{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    border: 0;
    border-radius: 5px;
}

section{
    margin-top: 150px;
    max-width: 1140px;
}

/* banner style */
header{
    height: 100vh;
    background-image: url(images/banner/banner3.png);
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    max-width: 1140px;
    align-items: center;
    height: 100vh;
    text-align: right;
  }

.text {
    width: 40%;
    margin-left: 400px;
    color: #fff;
    }

.top-banner-title{
    font-size: 65px;
    font-weight: 700;
}
.top-banner-description{
    margin: 36px 0;
}

.previous-year{
    display: flex;
    align-items: center;
}
.previous-year-text{
    margin-left: 87px;
    
}
.text-header{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.text-description{
    color: #444343;
    margin: 24px 0 16px;
}

ul.list li{
    list-style: none;
}
ul.list li i {
    color: #16D887;
    margin-right: 8px;
}